.links_item {
  color: #646a89;
}
.nav_item {
  font-size: 18px;
}
.navagation {
  opacity: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav ul {
    display: flex;
    li {
      margin: 0 20px;
      padding: 15px 25px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.active {
  background-color: #bf0830;
  color: #fff;
  border-radius: 7px;
}
